@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@300&family=Source+Sans+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    user-select: none;
    color: black;
}

ul, li{
    list-style: none;
}

#fundo-top{
    background-color: rgb(141, 141, 141);
}

#ul-top li{
    float: left;
    padding: 20px;
    margin: 2px;
}

#ul-top{
    display: inline-block;
    height: 66.4px;
}

.li-top{
    display: block;
    padding: 2px 3px 2px 3px;
    
}

.li-topv1{
    float: left;
    height: 27px;
    width: auto;
}

.li-topv1:hover{
    border-bottom: solid 2px white;
}

.navcontrol{
    text-align: end;
    margin-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.07rem;
}

.li-top:hover{
    color: aliceblue;
    
}

#lembracaslogo{
    width: 4.8%;
    height: 4.8%;
    float: left;
    margin-left: 1.3rem;
    cursor: pointer;
    user-select: none;
}

.section-mid{
    background-color: rgb(209, 231, 80, 0.6);
}

.fotos{
    background-color: #9ef0ff;
    border: 7px double #00253a;
    border-radius: 20px;
    float: left;
    margin-left: 3%;
    margin-top: 10.5%;
    width: 20%;
    height: 20%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2px;
}

.fotos img{
    margin-top: 10px;
}

.fotos p{
    margin-bottom: 3px;
}

.fotofix p{
    margin-bottom: 3px;
}

.fotofix img{
    margin-top: 14px;
}

img{
    width: 70%;
    height: 20%;
}

.fotofix{
    background-color: #9ebdff;
    border: 7px double #00253a;
    border-radius: 20px;
    float: left;
    margin-left: 10.1%;
    margin-top: 10.5%;
    width: 20%;
    height: 20%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2px;
}

.col-2{
    background-color: #9ed0ff;
}


.borda{
    border: 4px dashed rgb(22, 22, 22);
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2.7%;
    height: 80%;
    width: 94%;
}

.borda2{
    border: 4px double rgb(0, 60, 255);
    position: absolute;
    margin-top: 2.7%;
    margin-left: 2.9%;
    height: 80%;
    width: 94%;
}

.borda3{
    border: 4px solid rgb(0, 255, 34);
    position: absolute;
    margin-top: 3.0%;
    margin-left: 3.2%;
    height: 80%;
    width: 94%;
}

.borda4{
    border: 4px dotted rgb(255, 0, 0);
    position: absolute;
    margin-top: 3.3%;
    margin-left: 3.4%;
    height: 80%;
    width: 94%;
}

.alt{
    border-bottom: solid 2px #c8c8c8;
    float: left;
    height: 27px;
    width: auto;
}

.alter{
    color: #c8c8c8;
    display: block;
    padding: 2px 3px 2px 3px;
    cursor: default;
}

@media screen and (max-width: 1010px) {
    .borda{
        background-color: red;
        counter-increment: none;
        
    }
}

